
body{
  margin: 0;
  padding: 0;
}
    .chat-title {
        text-align: center; /* Center-align text and inline elements */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center-align block-level elements */
    }
    /* Apply styles to the container */
   
.container {
  width: 300px; /* Set the desired width */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Style the message area */
.messages {
  padding: 10px;
  
  background-color: #f0f0f0;
  max-height: 300px; /* Set a maximum height for the message area */
  overflow-y: auto; /* Add a scrollbar if messages overflow */
}

/* Style the message input and send button */
.message-box {
  display: flex;
  align-items: center;
  padding: 10px;
}
.messages-content{
  height: 500px;
  display: flex;
  flex-direction: column;
  
  
}
.avatar img{
  height: 80px;
}
.chat-title {
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.message-input {
  flex: 1; /* Take up remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.message-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.message-submit:hover {
  background-color: #0056b3; /* Change the color on hover */
}

.reciever ,.sender{
  display: flex;
  flex-direction: column;
  color: white;
  
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.reciever{
  background-color: rgb(12, 12, 36);
  width: 130px;
  
}
.sender{
  width: 130px;
  background-color: #4492a9;
  margin-left: auto;
}